/* Make the main menu overlap the carousel  */
#mega-menu-wrap-menu-1 {
    width:100%;
    position:absolute;
    z-index:9;
}
/* Make the main menu overlap the carousel  */

/* Hide the menu description */
#mega-menu-wrap-menu-1 #mega-menu-menu-1 a.mega-menu-link .mega-description-group .mega-menu-description {
    display:none;
}
/* Hide the menu description */

/* Add a fade transition to the top level links in the menu */
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
    transition: all .15s ease-in;
}
/* Add a fade transition to the top level links in the menu */

/* Style up the thumbnail images and the heading in the blue dropdown panel */
#mega-menu-wrap-menu-1 #mega-menu-menu-1 img {
    border:3px solid $white;
    filter: grayscale(0%);
    transition: all 0.15s ease-in;
    &:hover {
        filter: grayscale(100%);
        box-shadow: 0px 0px 10px rgb(255 255 255 / 60%);
    }
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 p {
    margin-top:-1rem;
    margin-bottom:-1rem;
}
@include mediaquery("tablet-992"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 p {
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }  
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 p a {
    color: $white;
    text-transform:uppercase;
    &:hover {
        text-decoration:none;
    }
}
/* Style up the thumbnail images and the heading in the blue dropdown panel */

#mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu, #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu::after {
    content:"Andrew";
}

/* Add padding to and bottom to the blue hover overlay panel */
#mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu, #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
    padding-top: 2.3rem;
    padding-bottom: 2.8rem;
}
@include mediaquery("tablet-992"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu, #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        & p {
            font-size:1.4rem;
            padding-left:0.4rem;
        }
    }
}
/* Add padding to and bottom to the blue hover overlay panel */


/* Hide the submenu images on tablet */
@include mediaquery("tablet-992"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 img {
        max-width: 100%;
        display: none;
    }
}
/* Hide the submenu images on tablet */

/* Add a fade transition to the top level links in the menu */
@include mediaquery("tablet-992"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
        padding: 0px;
    }
}

/* fix alignment of top level menu items */
#mega-menu-wrap-menu-1 #mega-menu-menu-1 a.mega-menu-link .mega-description-group .mega-menu-title {
    margin-top:-4.5px;
}
@include mediaquery("desktop-1240"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 a.mega-menu-link .mega-description-group .mega-menu-title {
        margin-top:-3px;
    }
}
/* fix alignment of top level menu items */


/* Font size for top level menu */
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
    font-size: 1.82rem;
}
@include mediaquery("desktop-1440"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
        font-size: 1.72rem;
    }
}
@include mediaquery("desktop-1240"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
        font-size: 1.6rem;
        padding: 0px 12px 0px 12px;
    }
}
@include mediaquery("desktop-1100"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
        font-size: 1.45rem;
        padding: 0px 12px 0px 12px;
    }
}

/* Font size for top level menu */

/* Border color for mobile menu*/
@include mediaquery("tablet-992"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
        border: #333;
    }
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-toggle-on > a.mega-menu-link {
        border: #333;
    }
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
        border-bottom: 1px solid #333;
    }
}
/* Border color for mobile menu*/

/* hide triangle/arrows in top level menu */
#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
    display:none;
    @include mediaquery("tablet-992"){
        display:block;
    }
}
/* hide triangle/arrows in top level menu */

/* Add triangle to the blue hover overlay panel  */
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
    background-image:none;
    background-repeat:no-repeat;
    background-position:center 75px !important;
    transition: background-position 0.5s ease-in;
    @include mediaquery("tablet-992"){
            height: 50px;
            line-height: 50px;
            padding-left: 2rem;
    }
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:hover {
    background-image:url('/wp-content/themes/vcm-publications/images/blue-triangle.png');
    background-repeat:no-repeat;
    background-position:center 52px !important;
}
/* Add triangle to the blue hover overlay panel  */

@include mediaquery("tablet-992"){
    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
        background: $dark-grey;
        background: linear-gradient(to bottom, $dark-grey, $dark-grey);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$dark-grey, endColorstr=$dark-grey);
    }
}

#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block {
    margin-right: 16px;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 p a {
    color: $light-grey;
    text-transform: uppercase;
    padding-left: 0.7rem;
}