.need-some-advice {
    background:$blue;
    text-align:center;
    margin-top:6rem;
    & .need-some-advice__heading {
        color:$white;
        font-size: 2rem;
        padding: 1.45rem;
        margin-bottom: 0;
        & a {
            color:$white;
        }
    }
}