.related-products {
    padding: 3rem 1.55rem 0 1.55rem;
    & h1 {
        text-transform:uppercase;
        text-align:center;
        font-weight:600;
    }
    &__heading-underline {
        background:$blue;
        width: 150px;
        height: 4px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 3.8rem;
    }
}