.yith-s {
    font-size: 2rem;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 0px !important;
    width: 85%;
    padding-left: 1rem !important;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
    margin-top:1rem;
}
#yith-searchsubmit {
    font-size: 1.4rem;
    padding: 1.5rem 0.7rem 1.1rem 0.7rem;
    width: 14%;
    border-radius:0;
}
@include mediaquery("tablet-992"){
    .yith-s {
        width: 75%;
    }
}
@include mediaquery("tablet-575"){
    .yith-s {
        width: 65%;
    }
    #yith-searchsubmit {
        width: 24%;
    }
}