.page-heading {
    padding:5rem 0.4rem 5rem 0.4rem;
    @include mediaquery("tablet-768"){
        padding:3.5rem 0.4rem 5rem 0.4rem;
    }
    @include mediaquery("tablet-575"){
        padding:3rem 0.4rem 5rem 0.4rem;
    }
    & h1 {
        text-transform:uppercase;
        text-align:center;
        font-weight:600;
    }
    &__underline {
        background:$blue;
        width: 150px;
        height: 4px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 3.8rem;
    }
}
.page-id-123 .page-heading {
    padding:5rem 0.4rem 5rem 0.4rem;
    @include mediaquery("tablet-768"){
        padding:3.5rem 0.4rem 5rem 0.4rem;
    }
    @include mediaquery("tablet-575"){
        padding:3rem 0.4rem 5rem 0.4rem;
    }
    & h1 {
        text-transform:uppercase;
        text-align:left;
        font-weight:600;
    }
    &__underline {
        background:$blue;
        width: 150px;
        height: 4px;
        margin-left: 0;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 3.8rem;
    }
}
.page-id-121 .page-heading {
    padding:5rem 0.4rem 5rem 0.4rem;
    @include mediaquery("tablet-768"){
        padding:3.5rem 0.4rem 5rem 0.4rem;
    }
    @include mediaquery("tablet-575"){
        padding:3rem 0.4rem 5rem 0.4rem;
    }
    & h1 {
        text-transform:uppercase;
        text-align:left;
        font-weight:600;
    }
    &__underline {
        background:$blue;
        width: 150px;
        height: 4px;
        margin-left: 0;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 3.8rem;
    }
}
.page-id-125 .page-heading {
    padding:5rem 0.4rem 5rem 0.4rem;
    @include mediaquery("tablet-768"){
        padding:3.5rem 0.4rem 5rem 0.4rem;
    }
    @include mediaquery("tablet-575"){
        padding:3rem 0.4rem 5rem 0.4rem;
    }
    & h1 {
        text-transform:uppercase;
        text-align:left;
        font-weight:600;
    }
    &__underline {
        background:$blue;
        width: 150px;
        height: 4px;
        margin-left: 0;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 3.8rem;
    }
}
.page-id-127 .page-heading {
    padding:5rem 0.4rem 5rem 0.4rem;
    @include mediaquery("tablet-768"){
        padding:3.5rem 0.4rem 5rem 0.4rem;
    }
    @include mediaquery("tablet-575"){
        padding:3rem 0.4rem 5rem 0.4rem;
    }
    & h1 {
        text-transform:uppercase;
        text-align:left;
        font-weight:600;
    }
    &__underline {
        background:$blue;
        width: 150px;
        height: 4px;
        margin-left: 0;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 3.8rem;
    }
}
.page-id-129 .page-heading {
    padding:5rem 0.4rem 5rem 0.4rem;
    @include mediaquery("tablet-768"){
        padding:3.5rem 0.4rem 5rem 0.4rem;
    }
    @include mediaquery("tablet-575"){
        padding:3rem 0.4rem 5rem 0.4rem;
    }
    & h1 {
        text-transform:uppercase;
        text-align:left;
        font-weight:600;
    }
    &__underline {
        background:$blue;
        width: 150px;
        height: 4px;
        margin-left: 0;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 3.8rem;
    }
}
.search-form {
    text-align:center;
    & .search-field {
        border-radius:0 !important;
        padding-left:1rem !important;
        font-size:2rem;
    }
    & .search-submit {
        background:$yellow !important;
        color:$black;
        padding:1.5rem 2rem 1.2rem 2rem !important;
        margin:2rem 0;
        display:inline-block;
        font-size:1.5rem;
        box-shadow: inset 0 0 0 0 $black;
        transition:all 0.15s ease-in;
        border:0 !important;
        border-radius:0 !important;
        &:hover {
            box-shadow: inset 400px 0 0 0 $black;
            color:$white;
        }
    }
}
.nothing-found-heading {
    color:$black;
    font-size:3rem;
    padding:4rem 0;
    text-transform:uppercase;
}
// @include mediaquery("tablet-992"){
//     .content p {
//         text-align:center;
//     }
// }

.search-results {
    & .search-results-content {
        padding:4rem 0;
        &__heading-underline {
            background: $blue;
            width: 60px;
            height: 4px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 1.6rem;
            margin-bottom: 4.2rem;
        }
        & .container {
            & .product {
                & h3 {
                    text-align: center;
                    margin-top:2rem;
                    margin-bottom:2rem;
                    min-height:35px;
                    & a {
                        color:$black;
                        // font-size: 1.85rem;
                        font-weight: 600;
                        padding: 2.2rem 0;
                        font-size: 1.58rem;
                        line-height: 2.05rem;
                        text-transform: uppercase;
                    }
                }
                & .attachment-post-thumbnail {
                    width:100%;
                    border:1px solid $light-grey;
                }
            }
        }

    }
}
